.input,
.btn {
  height: 30px;
  padding: 5px;
}

.input {
  width: 400px;
}

.btn {
  margin-left: 5px;
  width: 60px;
}

@media(max-width: 530px) {
  .search-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .input {
    width: 70%;
  }
}
