.search-container {
  display: flex;
  gap: 5px;
}

.input {
  padding: 5px;
  width: 400px;
}

@media (max-width: 590px) {
  .search-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .input {
    width: 70%;
  }
}
