.search {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  position: relative;
  z-index: 1;
  background-color: rgba(241, 241, 241, 0.7);
}

.search,
.cards {
  padding: 20px 0px 35px 0px;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  padding: 0px 0px 35px 0px;
}
